@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color: #ffffff;
    --text-color2: rgb(30 41 59);
    --text-color3: #4657a1;
    --fill-color: #4657a1;
    --fill-color2: #f5f7ff;
    --fill-color-indicator: rgb(220 38 38);
    --font-weight: 600;
  }

  .theme-green {
    --text-color: rgb(0, 0, 0);
    --text-color2: rgb(0, 0, 0);
    --text-color3: rgb(0, 158, 47);
    --fill-color: rgb(0, 158, 47);
    --fill-color2: rgb(226, 255, 237);
    --fill-color-indicator: rgb(51, 162, 41);
    --font-weight: 0;
    --font-family: "Comic Sans MS", "cursive";
  }
}
